/* General Styles */
body {
    font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  
  header {
    text-align: center;
    background-color: #929eab;
    color: #373030;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  #artisan-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .artisan-card {
    background: #ffffff;
    border: 1px solid #4b4444;
    border-radius: 8px;
    width: 250px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
  }
  
  .artisan-card:hover {
    transform: translateY(-5px);
  }
  
  .artisan-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: #fff;
    margin-top: 20px;
  }